:root {
  --ho-purple:#8f23b3;
}

body {
    margin: 0;
}

.decs-grid-row{
  margin: 0px 0px 20px 0px;
}

.govuk-back-link::before {
  transform: none;
}

.decs-section-break {
  margin: 5px 1%;
  border:2px solid #8f23b3;
}

.th_padd {
  padding-left: 5px
}

.govuk-table__header {
  padding: 10px 10px 10px 5px;
  border: 1px solid #b1b4b6;
}

.govuk-table__body {
  border: 1px solid #b1b4b6;
}

.govuk-table__cell {
  border: 1px solid #b1b4b6;
  padding: 10px 10px 10px 5px;
}

tbody tr:nth-child(odd){
  background-color: #fff;
}

tbody tr:nth-child(even){
  background-color: #f1f1f1;
}

.auto-table-cells td:nth-child(1) {
  font-weight: 700;
  background-color: #e6e6e6;
}

.hide-lead-column-head th:nth-child(1) {
  color:#e6e6e6;
  background-color: #e6e6e6;
}

.report-background-box {
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.information-box {
  padding: 10px;
  background-color: #fff;
}

.custom-tabs-container {
  padding: 0px 15px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #000;
}

.custom-tabs {
  background-color: #f1f1f1;
}

.custom-tab {
  background-color: #f1f1f1 !important;
  border: 0px !important;
  padding: 12px 0px 12px 0px !important;
  text-align: left !important;
  width: auto !important;
}

.custom-tab span {
  padding: 0px 12px;
  border-right: 1px solid #000;
}

.custom-tab--selected {
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #f1f1f1 !important;
  margin:0px 0px -1px -1px;
  font-weight: bold;
}

.custom-tab--selected span{
  padding: 0px 12px;
  border-right: 1px solid #f1f1f1;
}

.tab-controls {
  padding: 20px 15px;
}

.ho-logo-image {
  vertical-align: middle;
  border-left: 3px solid var(--ho-purple);
  padding-left: 10px;
  margin-right: 15px;  
  height: 45px;
}

.ho-logo-text {
  vertical-align: middle;
  display: inline;
}

.tab-date-caption {
  display: block;
}

.counter-number--l {
  font-size: 54px;
  font-weight: 500;
  color: var(--ho-purple);
  margin-bottom: 10px;
}

.counter-tile{
  background-color: #fff;
  padding: 5px;
  height: min(155px);
}

.day-selector-row {
 padding: 15px 0px;
 display: flex;
 align-items: flex-start;
 gap: 16px;
}

.day-selector {
  display: inline-block;
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid var(--ho-purple);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.day-selector--active {
  display: inline-block;
  padding: 15px;
  margin-bottom: 0px;
  border: 3px solid var(--ho-purple);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}


.clear-selection-position {
  margin-left: 15px;
  margin-bottom: 0px;
  vertical-align: bottom !important;
}

decs-grid-row{
  margin-right:-15px;
  margin-left:-15px
}
.decs-grid-row:after{
  content:"";
  display:block;
  clear:both
}
.decs-grid-column-one-quarter{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-one-quarter{
    width:25%;float:left
  }
}
.decs-grid-column-one-third{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-one-third{
    width:33.3333%;
    float:left
  }
}
.decs-grid-column-one-half{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-one-half{
    width:50%;
    float:left
  }
}
.decs-grid-column-two-thirds{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-two-thirds{
    width:66.6666%;
    float:left
  }
}
.decs-grid-column-three-quarters{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-three-quarters{
    width:75%;
    float:left
  }
}.decs-grid-column-full{
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em){
  .decs-grid-column-full{
    width:100%;
    float:left
  }
}
.decs-grid-column-one-quarter-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-one-quarter-from-desktop{
    width:25%;
    float:left
  }
}
.decs-grid-column-one-third-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-one-third-from-desktop{
    width:33.3333%;
    float:left
  }
}
.decs-grid-column-one-half-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-one-half-from-desktop{
    width:50%;float:left
  }
}
.decs-grid-column-two-thirds-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-two-thirds-from-desktop{
    width:66.6666%;
    float:left
  }
}
.decs-grid-column-three-quarters-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-three-quarters-from-desktop{
    width:75%;
    float:left
  }
}
.decs-grid-column-full-from-desktop{
  box-sizing:border-box;
  padding:0 15px
}
@media (min-width:48.0625em){
  .decs-grid-column-full-from-desktop{
    width:100%;float:left
  }
}